.img-center {
    margin: 50% 0px;
}

.bg-conte {
    background-image: linear-gradient(to bottom, #0575c4, #003462 );
    color: #ffffff;
}

.caja-img {
    height: 130px;
    padding-top: 25px;
}

.size-img {
    width: 210px;
    height: auto;
    padding: auto;
}

.relleno-img {
    padding: 0px 100px;
}

.bg-azul {
    background: #003462;
}

.tamano{
    height: 350px !important;
}

.ico-size {
    font-size: 80px;
}

#color-sms, #color-email, #color-tel {
    font-size: 70px;
}

#color-sms{
    color: #9a9996; 
}

#color-email {
    color: #9a9996;
}

#color-tel {
    color: #9a9996;
}

.hove-whats:hover{
    color: #25D366 !important;
    cursor: pointer;
}

.hove-email:hover{
    color: #f5e400 !important;
    cursor: pointer;
}

.hove-tel:hover{
    color: #0071b8 !important;
    cursor: pointer;
}

#email, #call {
    display: none;
}