.img-center {
    margin: 50% 0px;
}

.bg-conte {
    background-image: linear-gradient(to bottom, #0575c4, #003462 );
    color: #ffffff;
}

.caja-img {
    height: 130px;
    padding-top: 25px;
}

.size-img {
    width: 210px;
    height: auto;
    padding: auto;
}